<?xml version="1.0"?>
<!--INCLUDES-->
<robot name="myrobot" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:include filename="$(find sainsmart_robot_description_pkg)/urdf/links_joints.xacro" />
<!--FIN DE INCLUDES-->

        <m_link_mesh name="base_link"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="1000"
              ixx="0" ixy="0" ixz="0"
              iyy="0" iyz="0"
              izz="9.655"
              meshfile="package://sainsmart_robot_description_pkg/meshes/baserobot.dae"
              meshscale="1 1 1" />


        <m_joint name="base_link_link01" type="revolute"
           axis_xyz="0 0 1"
           origin_rpy="0 0 0" origin_xyz="0 0 0"
           parent="base_link" child="link_01"
           limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

	<transmission name="trans_base_link_link01">
          <type>transmission_interface/SimpleTransmission</type>
      	  <joint name="base_link_link01">
             <hardwareInterface>PositionJointInterface</hardwareInterface>
      	  </joint>
          <actuator name="motor_base_link_link01">
	          <hardwareInterface>PositionJointInterface</hardwareInterface>
	          <mechanicalReduction>1</mechanicalReduction>
          </actuator>
	</transmission>

   	<m_link_mesh name="link_01"
              origin_rpy="0 0 0" origin_xyz="0 0 60"
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              meshfile="package://sainsmart_robot_description_pkg/meshes/pieza1.dae"
              meshscale="1 1 1" />
        
<!--2.9 0 11-->

	<m_joint name="base_link01__link02" type="revolute"
		 axis_xyz="0 1 0"
		 origin_rpy="0 1.31 0" origin_xyz="29 0 110"  
		 parent="link_01" child="link_02"
		 limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

	<transmission name="trans_base_link01_link02">
          <type>transmission_interface/SimpleTransmission</type>
      	  <joint name="base_link01__link02">
             <hardwareInterface>PositionJointInterface</hardwareInterface>
      	  </joint>
      	  <actuator name="motor_base_link01_link02">
	           <hardwareInterface>PositionJointInterface</hardwareInterface>
	           <mechanicalReduction>1</mechanicalReduction>
          </actuator>
	</transmission>

	<m_link_mesh name="link_02"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              meshfile="package://sainsmart_robot_description_pkg/meshes/pieza3.dae"
              meshscale="1 1 1" />

	<m_joint name="base_link01__link05" type="revolute"
		 axis_xyz="0 1 0"
		 origin_rpy="0 -1.31 0" origin_xyz="-106 -3 29"
		 parent="link_02" child="link_05"
		 limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

	<transmission name="trans_base_link01_link05">
          <type>transmission_interface/SimpleTransmission</type>
      	  <joint name="base_link01__link05">
             <hardwareInterface>PositionJointInterface</hardwareInterface>
      	  </joint>
          <actuator name="motor_base_link01_link05">
	          <hardwareInterface>PositionJointInterface</hardwareInterface>
	          <mechanicalReduction>1</mechanicalReduction>
          </actuator>
	</transmission>

	<m_link_mesh name="link_05"
              origin_rpy="0 0 0" origin_xyz="0 0 0"
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              meshfile="package://sainsmart_robot_description_pkg/meshes/pieza6.dae"
              meshscale="1 1 1" />


	<m_joint name="base_link05__link06" type="revolute"
		 axis_xyz="1 0 0"
		 origin_rpy="0 0 0" origin_xyz="0 0 26"
		 parent="link_05" child="link_06"
		 limit_e="1000" limit_l="-3.14" limit_u="3.14" limit_v="0.5" />

	
	<transmission name="trans_base_link05_link06">
          <type>transmission_interface/SimpleTransmission</type>
      	  <joint name="base_link05__link06">
             <hardwareInterface>PositionJointInterface</hardwareInterface>
      	  </joint>
          <actuator name="motor_base_link05_link06">
	           <hardwareInterface>PositionJointInterface</hardwareInterface>
	           <mechanicalReduction>1</mechanicalReduction>
           </actuator>
	</transmission>


	<m_link_mesh name="link_06"
              origin_rpy="0 0 3.14" origin_xyz="0 0 0"
              mass="157.633"
              ixx="13.235" ixy="0" ixz="0"
              iyy="13.235" iyz="0"
              izz="9.655"
              meshfile="package://sainsmart_robot_description_pkg/meshes/pieza6buena.dae"
              meshscale="1 1 1"/>

	 <!--ros_control plugin -->
	      <gazebo>
	            <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
                 <robotNamespace>/myrobot</robotNamespace>
              </plugin>
        </gazebo>

</robot>

